.root {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 400px;
    margin: 0 auto; /* Center horizontally */
    align-items: center; /* Center content horizontally */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    width: 100%;
  max-width: 100%;
  }
  
  .inputRow {
    display: flex;
    gap: 8px; /* Adjust the gap between inputs as needed */
  }
  
  .input {
    width: 55px; /* Adjust the width of the inputs as needed */
    border: none !important;
    box-shadow: none !important;
  }
  
  .wrapper {
    column-gap: 15px;
    display: flex;
    min-width: min-content;
  }
  
  .noSpinner input[type=number]::-webkit-outer-spin-button,
  .noSpinner input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }